@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello!";
    //Layout = null;
    //Layout = "_TestLayout.cshtml";

    //var x = 2 + 3;
}

<h2>Index</h2>

@*scott@OdeToCode.com@(Model.Count())
    @@OdeToCode*@
@*@Model.Count()
    @Html.Raw("<div></div>");*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}

@*@section footer{
    <div>This is a custom footer</div>
}*@